In [82]:
import pandas as pd
import numpy as np

In [83]:
data_df = pd.read_csv('games.csv')

In [84]:
pd.isnull(data_df).any() # Shows me all the columns that have nulls

ncodpers                 False
fecha_dato               False
ind_actividad_cliente     True
segmento                  True
tiprel_1mes               True
fecha_alta                True
canal_entrada             True
age                      False
sexo                      True
ind_nuevo                 True
ind_empleado              True
renta                     True
indext                    True
nomprov                   True
dtype: bool

In [85]:
i = list(data_df)
a, b = i.index('age'), i.index('ind_actividad_cliente')
i[b], i[a] = i[a], i[b]
print i

['ncodpers', 'fecha_dato', 'age', 'segmento', 'tiprel_1mes', 'fecha_alta', 'canal_entrada', 'ind_actividad_cliente', 'sexo', 'ind_nuevo', 'ind_empleado', 'renta', 'indext', 'nomprov']

In [86]:
for i in list(data_df)[3:]:
    print i
    print pd.value_counts(data_df[i].values, sort=False)
    null_count = data_df[i].isnull().sum()
    print 'Null: ',  null_count
    notnull_count = data_df[i].count()
    print 'Total: ', notnull_count
    percentage = ((null_count / notnull_count) * 100)
    print 'Percentage of null values: ', percentage
    print ' '

segmento
01 - TOP               36034
03 - UNIVERSITARIO    350497
02 - PARTICULARES     551740
dtype: int64
Null:  18374
Total:  938271
Percentage of null values:  0

tiprel_1mes
P       784
I    540968
R       101
A    400106
dtype: int64
Null:  14686
Total:  941959
Percentage of null values:  0

fecha_alta
2004-05-27    102
2004-05-26    132
2004-05-25    122
2004-05-24    213
2004-05-21    120
2004-05-20    122
2004-05-28     97
1999-08-23     49
1999-08-20     24
1999-08-26     41
1999-08-27     50
1999-08-24     45
1999-08-25     39
2006-12-30     34
2006-12-31     15
2001-12-31    159
2008-05-12    113
2008-05-13    102
2008-05-10     15
2008-05-11     18
2008-05-16     94
2008-05-17     14
2008-05-14    122
2008-05-15     61
2008-05-18     21
2008-05-19    123
1999-04-08     74
1999-04-09     44
1999-04-01      9
1999-04-05     82
             ...
2012-03-07     96
2012-03-04      1
2012-03-05    172
1995-09-21     10
1995-09-20     31
1995-09-22     17
1995-09-25     64
1995-09-27     47
1995-09-26     40
1995-09-29     50
1995-09-28     49
2004-09-29    102
2004-09-28    130
2004-09-23    102
2004-09-22    120
2004-09-21    110
2004-09-20    162
2004-09-27    164
2004-09-25      4
2004-09-24     76
2012-07-06    160
2012-07-07      1
2012-07-04     80
2012-07-05    136
2012-07-02    111
2012-07-03    185
2012-07-01      2
2012-07-08      3
2012-07-09    136
2003-05-30     77
dtype: int64
Null:  7031
Total:  949614
Percentage of null values:  0

canal_entrada
KCE        21
KCD       226
KCG       337
KCF        30
KCA       103
KCC      3153
KCB       340
KCM       217
KCL       280
KCO        13
KCN        77
KCI      1791
KCH      1658
KCK        65
KCJ        13
KCU        77
KCT         9
KCV        17
KCQ        13
KCP        10
KCS        16
KCR        12
KCX         5
K00        10
007      2217
004        16
KFV         5
KFT       562
KFU       345
KFR        25
        ...
KAW      2222
KAV         7
KAU        15
KAT    208389
KAZ      2169
KAY      4462
KDL         1
KDM       173
KDN        13
KDO       127
KDH        13
KDI         1
KDD        42
KDE        61
KDF        51
KDG        35
KDA        28
KDB         1
KDC       106
KDX       128
KDY       143
KDZ        39
KDT        83
KDU       183
KDV        29
KDW        50
KDP        73
KDQ        71
KDR       541
KDS       145
dtype: int64
Null:  18329
Total:  938316
Percentage of null values:  0

age
2         57
3         56
4         39
5         38
6         41
7         31
8         45
9         43
10        42
11        46
12        51
13        40
14        40
15        32
16        39
17        39
18        57
19        68
20     19588
21     17552
22      6351
23      4412
24      3588
25      3050
26      2452
27      2165
28      2439
29      2186
30      2001
31      2020
       ...
89      1342
82      2346
83      2162
80      2258
81      2489
86      1720
87      1597
84      2038
85      1909
99       249
98       383
91      1055
90      1183
93       851
92       950
95       638
94       727
97       435
96       534
3         60
164        1
5        151
115        1
114        6
117        2
116        7
111       17
110       22
113       10
112       15
dtype: int64
Null:  0
Total:  956645
Percentage of null values:  0

sexo
V    515572
H    434037
dtype: int64
Null:  7036
Total:  949609
Percentage of null values:  0

ind_nuevo
0.0    906393
1.0     43221
dtype: int64
Null:  7031
Total:  949614
Percentage of null values:  0

ind_empleado
N    949094
B       219
F       152
A       148
S         1
dtype: int64
Null:  7031
Total:  949614
Percentage of null values:  0

renta
19384.50     1
30712.50     2
31672.50     1
9724.50      1
29944.50     1
139825.65    1
23224.50     1
259283.55    1
81508.17     1
88186.08     1
55351.11     1
175275.30    1
46718.22     1
135386.79    1
69921.36     1
56528.52     1
41586.42     1
58699.59     1
85429.95     2
59213.04     2
38161.32     1
429027.96    1
88292.91     1
675311.97    2
74430.06     1
93006.03     1
66353.07     1
180423.99    1
194025.36    2
419285.04    1
            ..
54693.33     1
118585.59    1
198689.70    1
154664.76    4
133410.66    1
217339.80    1
157407.39    1
66866.22     1
124000.14    1
116801.10    1
90761.43     1
72584.13     1
36272.67     1
370329.06    2
52556.40     1
46325.85     2
53391.99     1
76372.23     1
84232.11     1
104186.19    2
57019.02     2
123925.44    1
87311.55     1
156093.36    1
138985.71    1
158420.19    1
65330.64     1
45451.26     1
50489.01     1
80799.48     1
dtype: int64
Null:  247234
Total:  709411
Percentage of null values:  0

indext
N    902024
S     47590
dtype: int64
Null:  7031
Total:  949614
Percentage of null values:  0

nomprov
AVILA                       2681
MALAGA                     25096
CORDOBA                    10052
ALAVA                       2669
CEUTA                        528
CIUDAD REAL                 8241
CANTABRIA                  11062
RIOJA, LA                   5913
BARCELONA                  90493
LEON                        5871
TARRAGONA                   7828
HUELVA                      8186
OURENSE                     5712
SEGOVIA                     2939
MURCIA                     28226
ASTURIAS                   18710
SALAMANCA                  11281
LERIDA                      5523
ZARAGOZA                   23564
JAEN                        4629
SEVILLA                    41370
CASTELLON                   7323
ALICANTE                   22761
CADIZ                      20209
NAVARRA                     6144
PALENCIA                    3405
ALBACETE                    7956
LUGO                        5760
CUENCA                      3861
PONTEVEDRA                 19271
HUESCA                      2845
BADAJOZ                    13191
SANTA CRUZ DE TENERIFE      5313
PALMAS, LAS                16731
TERUEL                      1574
TOLEDO                     12953
VALENCIA                   49031
GUADALAJARA                 4810
VALLADOLID                 16340
BURGOS                      6787
ZAMORA                      3477
GIPUZKOA                    5000
CACERES                     8741
GRANADA                    12687
BIZKAIA                    12799
CORUÑA, A                  29272
GIRONA                      6447
MELILLA                      654
BALEARS, ILLES              9404
MADRID                    304606
SORIA                       1284
ALMERIA                     4451
dtype: int64
Null:  10984
Total:  945661
Percentage of null values:  0

In [100]:
data_df.loc[data_df.ind_empleado == 'S'] = 'N' # replace outlier 'S' with 'N'
#data_df[data_df.ind_empleado.isin(['S'])] # check if the outlier 'S' has been deleted
data_df.loc[data_df['ind_empleado'].isnull()] = 'N' # replace nulls with 'N'

In [119]:
data_df.segmento.isnull().sum() # not working

11343